<div class="row justify-content-center">
  <div class="col-md-6 mt-4">
    <!-- Pills navs -->
    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Login</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false">Register</button>
      </li>
    </ul>

    <!-- Pills content -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
        <form>
          <div class="text-center mb-3">
            <p>Inicia sesión con:</p>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>

          <p class="text-center">o</p>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="loginName">Correo electrónico o nombre de usuario</label>
            <input type="email" id="loginName" class="form-control" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Contraseña</label>
            <input type="password" id="loginPassword" class="form-control" />
          </div>

          <!-- 2 column grid layout -->
          <div class="row mb-4">
            <div class="col-md-6 d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check mb-3 mb-md-0">
                <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                <label class="form-check-label" for="loginCheck"> Recuerdame </label>
              </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
              <!-- Simple link -->
              <a href="#!">¿Se te olvidó tu contraseña?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4 form-control">Iniciar Sesión</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>¿No es un miembro? <a href="#!">Registrarse</a></p>
          </div>
        </form>
      </div>
      <div class="tab-pane fade show " id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab" tabindex="0">
        <form>
          <div class="text-center mb-3">
            <p>Registrarte con:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>

          <p class="text-center">o</p>

          <!-- Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerName">Nombre</label>
            <input type="text" id="registerName" class="form-control" />
          </div>

          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerUsername">Nombre de usuario</label>
            <input type="text" id="registerUsername" class="form-control" />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerEmail">Correo electrónico</label>
            <input type="email" id="registerEmail" class="form-control" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerPassword">Contraseña</label>
            <input type="password" id="registerPassword" class="form-control" />
          </div>

          <!-- Repeat Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="registerRepeatPassword">Repetir contraseña</label>
            <input type="password" id="registerRepeatPassword" class="form-control" />
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
              aria-describedby="registerCheckHelpText" />
            <label class="form-check-label" for="registerCheck">
              He leído y acepto los términos
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-3 form-control">Sign in</button>
        </form>
      </div>
    </div>  
  </div>
</div>